<!-- <div *ngIf="catHandlers$ | async as handlers; else loading"> -->
<mat-card class="card">
    <mat-card-header class="card-header">
        {{pageTitle}}
    </mat-card-header>

    <div class="card-body outer-card-body">
        <ng-container *ngIf="{ handlers: catHandlers$ | async, cat: selectedCat$ | async } as data">
            <ng-container *ngIf="data.handlers && data.handlers.length <= 0">
                <mat-card-content>
                    <p class="card-text">{{data.cat?.name}} does not have any handlers</p>
                </mat-card-content>
            </ng-container>

            <mat-card class="card inner-card" *ngFor="let handler of data.handlers">
                <mat-card-header class="card-header">
                    <mat-card-title class="card-title">{{handler.firstName}} {{handler.lastName}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-body">
                    <p class="card-text"><strong>Role:</strong> {{ handler.role }}</p>
                    <p class="card-text"><strong>Started working on:</strong> {{ handler.created_at | date }}</p>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <div class="alert alert-danger"
            *ngIf="errorMessage$ | async as errorMessage">
        {{ errorMessage }}
        </div>
    </div>
</mat-card>
