<!-- <div *ngIf="catHandlers$ | async as handlers; else loading"> -->
  <mat-card class="card" *ngIf="catHandlers$ | async as handlers">
    <div *ngFor="let handler of handlers">
      {{handler.firstName}}
      <mat-card-header class="card-header">
        {{pageTitle}} for {{handler.firstName}} {{handler.lastName}}
      </mat-card-header>
      
      <mat-card-content class="card-body">
        <p class="card-text"><strong>Role:</strong> {{ handler.role }}</p>
        <p class="card-text"><strong>Started working on:</strong> {{ handler.created_at | date }}</p>
      </mat-card-content>
    </div>
</mat-card>
