<mat-card class="card">
    <mat-card-header class="card-header toolbar-container">
        {{pageTitle}} {{displayCats()}}
		<button
            *ngIf="!catDialogService.isOpen"
			mat-raised-button color="accent"
			class="card-button"
			(click)="goToCatCreate()">
			Add new cat
		</button>
    </mat-card-header>

    <div class="card-body outer-card-body">
		<ng-container *ngIf="cats$ | async as cats">
			<ng-container *ngIf="cats && cats.length <= 0">
                <mat-card-content>
                    <p class="card-text">There are no cats</p>
                </mat-card-content>
            </ng-container>

			<mat-card class="card inner-card" *ngFor="let cat of cats">
				<mat-card-header class="card-header">
					<mat-card-title class="card-title">{{ cat.name }}</mat-card-title>
				</mat-card-header>
				<mat-card-content class="card-body">
					<p class="card-text"><strong>Breed:</strong> {{ cat.breed }}</p>
					<p class="card-text"><strong>Color:</strong> {{ cat.color }}</p>
					<p class="card-text"><strong>Age:</strong> {{ cat.age }}</p>
					<p class="card-text"><strong>Birthdate:</strong> {{ cat.birthdate | date }}</p>
					<button mat-raised-button color="accent" class="card-button" (click)="goToCatDetails(cat)">
                        See Cat
                    </button>
				</mat-card-content>
			</mat-card>
			<mat-card *ngIf="!catDialogService.isOpen" class="card inner-card">
				<div class="add-cat-container">
					<button
						mat-raised-button
						class="card-button add-cat-button light-dojo-button"
						(click)="goToCatCreate()">
						+ New Cat
					</button>
				</div>
			</mat-card>
			<mat-card *ngIf="catDialogService.isOpen" class="card inner-card">
                <!-- <dojo-create-cat></dojo-create-cat> -->
            </mat-card>
		</ng-container>
		<div class="alert alert-danger"
			*ngIf="errorMessage$ | async as errorMessage">
		{{ errorMessage }}
		</div>
    </div>
</mat-card>
