<mat-card class="card">
    <mat-card-header class="toolbar-container">
        {{pageTitle}} {{displayCatEmojis()}}
        <button mat-raised-button color="accent" class="card-button" [disabled]="isAddCatButtonDisabled()"
            (click)="onAddCatClick()">
            Add new cat
        </button>
    </mat-card-header>

    <div class="card-body outer-card-body">
        <dojo-cat-list class='ignore-tag' [cats$]="userCats$" [type]="'user'" (navigate)="onNavigate($event)"
            (openModal)="onOpenModal($event)"></dojo-cat-list>
        <dojo-cat-list class='ignore-tag' [cats$]="otherCats$" [type]="'other'"></dojo-cat-list>
    </div>
</mat-card>
