<div class="return-home-container">
    <button mat-fab type="button" color="accent" class="custom-dojo" aria-label="Return home" [routerLink]="['/dojo']">
        <span class="return-home-icon">🐈</span>
    </button>
</div>
<div class="auth-container">
    <mat-card class="auth-card">
        <mat-card-header class="card-header">
            <mat-card-title>Sign Up</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" formControlName="email" type="email" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput 
                            placeholder="Password" 
                            formControlName="password" 
                            [type]="hidePassword ? 'password' : 'text'" 
                            required>
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon svgIcon="{{ hidePassword ? 'eye' : 'eye-closed' }}"></mat-icon>
                    </button>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" class="card-button auth-card-button"
                    [disabled]="signupForm.invalid">
                    Sign Up
                </button>
            </form>

            <p class="auth-card-link">
                Already have an account? <a mat-button color="primary" (click)="signIn()">Sign In</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>
