<mat-toolbar class="custom-dojo primary-navbar" color="primary">
	<div class="custom-container">
		<div class="toolbar-container">
			<span class="page-title">{{ pageTitle }}</span>
			<div class="button-container">
				<button class="custom-dojo" mat-raised-button color="accent" [routerLink]="['/cats']" routerLinkActive="active">
					<span class="button-text">See the Cats!</span>
				</button>
				<button class="custom-dojo dojo-button" mat-raised-button color="warn" [routerLink]="['/dojo']" routerLinkActive="active">
					<span class="button-text">Dojo</span>
				</button>
			</div>
		</div>
	</div>
</mat-toolbar>
<div *ngIf="showDetailsNavbar">
	<mat-toolbar class="custom-dojo secondary-navbar" *ngIf="selectedCat$ | async as cat">
		<div class="container">
			<div class="button-container">
				<button class="custom-dojo secondary-menu-button" mat-raised-button color="primary" [routerLink]="['/cats', cat.id]" routerLinkActive="active">
					<span class="button-text">Cat Overview</span>
				</button>
				<button class="custom-dojo secondary-menu-button" mat-raised-button color="primary" [routerLink]="['/cats', cat.id, 'handlers']" routerLinkActive="active">
					<span class="button-text">Cat Handlers</span>
				</button>
			</div>
		</div>
        <!-- <div>
            <strong class="card-header">Hello {{cat.name}}!</strong>
        </div> -->
	</mat-toolbar>
</div>
