<mat-toolbar color="primary">
	<div class="custom-container">
		<div class="toolbar-container">
			<span class="page-title">{{ pageTitle }}</span>
			<div class="button-container">
				<button mat-raised-button color="accent" [routerLink]="['/cats']" routerLinkActive="active">
					<span class="button-text">See the Cats!</span>
				</button>
				<button mat-raised-button color="dojo" [routerLink]="['/dojo']" routerLinkActive="active">
					<span class="button-text">Dojo</span>
				</button>
			</div>
		</div>
	</div>
</mat-toolbar>
