<!-- <mat-card class="card"> -->
    <form [formGroup]="catForm" (ngSubmit)="onSubmit()" class="center-form">
        <mat-card-header class="card-header">
            <mat-form-field appearance="outline">
                <mat-label><strong>Name: </strong></mat-label>
                <input matInput formControlName="name" required
                    placeholder="Cat's name">
            </mat-form-field>
        </mat-card-header>

        <mat-card-content class="card-body">
            <p class="card-text">
                <mat-form-field appearance="outline" class="form-input">
                    <mat-label><strong>Breed: </strong></mat-label>
                    <input matInput formControlName="breed" required
                    placeholder="Breed">
                </mat-form-field>
            </p>
            <p class="card-text">
                <mat-form-field appearance="outline">
                    <mat-label><strong>Color: </strong></mat-label>
                    <input matInput formControlName="color"
                    placeholder="Color">
                </mat-form-field>
            </p>
            <p class="card-text">
                <mat-form-field appearance="outline">
                    <mat-label><strong>Date of Birth: </strong></mat-label>
                    <input type="date" matInput formControlName="dateOfBirth" required
                    placeholder="Date of Birth">
                </mat-form-field>
            </p>
            <div class="button-container">
                <button mat-raised-button color="accent" type="submit" class="card-button" [disabled]="catForm.invalid">
                    Create
                </button>
                <button mat-raised-button type="button" (click)="onClose()">
                    Close
                </button>
            </div>
        </mat-card-content>
    </form>
<!-- </mat-card> -->
