<div class="auth-container">
    <mat-card class="auth-card">
        <mat-card-header class="card-header">
            <mat-card-title >Sign In</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" formControlName="email" type="email" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput
                            placeholder="Password"
                            formControlName="password"
                            [type]="hidePassword ? 'password' : 'text'"
                            required>
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon svgIcon="{{ hidePassword ? 'eye' : 'eye-closed' }}"></mat-icon>
                    </button>
                </mat-form-field>

                <button mat-raised-button color="primary" 
                        type="submit" 
                        class="card-button auth-card-button" 
                        [disabled]="signinForm.invalid">
                    Sign In
                </button>
            </form>

            <p class="auth-card-link">
                Don't have an account? <a mat-button color="primary" (click)="signUp()">Create a new account</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>
