/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.min.css";

// .card-header {
// 	font-size: large;
// 	background-color: rgb(244, 244, 244);
// }

.card {
	margin-top: 10px;
	background-color: purple;
}

.mat-card {
	padding: 0 !important;
}

.card-body {
	margin-top: 10px;
	background-color: rgb(244, 244, 244);
}

.grid-list {
	// background-color: aquamarine;
}

.table {
	margin-top: 10px;
}

a {
	text-decoration: none;
}

.page-title {
	font-size: 2em;
}

.toolbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.button-container {
	display: flex;
	gap: 2px;
}

.card-button {
	font-size: 0.9em;
}

.button-text {
	font-size: 1.3em;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: rgb(244, 244, 244);
}

.custom-container {
	width: 100%;
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	// background-color: blue;
}
