.card {
    margin-top: 10px;
    background-color: purple;
}

.card-header {
    margin-bottom: 15px;
    margin-top: 0px;
}

.card-body {
    margin-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(244, 244, 244);
}

.outer-card-body {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 640px) {
        justify-content: center;
    }
}

.inner-card {
    flex-basis: calc(50% - 20px);
    min-width: 300px;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 640px) {
        flex-basis: calc(100% - 20px);
    }
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.auth-card {
    width: 100%;
    max-width: 450px;
    min-height: 500px;
    padding: 16px;
    box-sizing: border-box;
}
